.recentImage {
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
  object-fit: cover;
}

.recentImage:hover {
  filter: drop-shadow(8px 8px 10px gray);
  transform: scale(1.1);
}
